<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.aitormagan.cuentayines.android"
    android:versionCode="2"
    android:versionName="1.1" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.aitormagan.android.cuentayines.CuentaYines"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.aitormagan.android.cuentayines.About"
            android:label="@string/about_activity_title"
            android:parentActivityName="es.aitormagan.android.cuentayines.CuentaYines" 
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aitormagan.android.cuentayines.CuentaYines" />
        </activity>
    </application>

</manifest>